@import './variables';
@import './mixins';

.Display {
  height: 100vh;
  padding: 0;
  text-align: center;
  font-family: $globalFontFamily;
  position: relative;
  background-color: $globalColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
}

.link {
  text-decoration: none;
  color: black;
  @include headerFontStyle();
}

.link:hover {
  @include buttonHover();
}

.button {
  @include headerFontStyle();
  @include buttonStyle();
}

.button:hover {
  @include buttonHover();
}

.top-line-div {
  height: 2px;
  background-color: black;
  opacity: 0.5;
}