@mixin headerFontStyle() {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

@mixin componentTopPosition() {
  position: relative;
  top: 8vh;
}

@mixin resetButtonStyle() {
  background: none;
  color: inherit;
  font-weight: 300;
	border: none;
	cursor: pointer;
}