@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexColumnStart() {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin flexSpaceBetween() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin headerFontStyle() {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@mixin backTextStyle() {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing:1px;
  font-size: 14px;
}