@mixin headerFontStyle() {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

@mixin componentTopPosition() {
  position: relative;
  top: 8vh;
}

@mixin buttonStyle() {
  background-color: inherit;
  border: none;
}

@mixin buttonHover() {
  background-color: inherit;
  border: none;
  color: #519e8a;
  text-decoration: none;
}

@mixin buttonFocus() {
  background-color: inherit;
  border: none;
  color: #519e8a;
}