@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

$globalFontFamily: 'Mulish', Arial, Helvetica, sans-serif;
$globalFontColor: snow;
$menuColor: snow;
$globalBoxShadow: 5px 5px 10px 8px rgba(0,0,0,0.75);
$globalColor: snow;
$bodyWidth: 95%;

$buttonFontFamily: 'Mulish', Arial, Helvetica, sans-serif;
$rollercolor: #00bfff;
