@import '../base-css/variables';
@import '../base-css/mixins';
@import url(https://fonts.googleapis.com/css?family=Satisfy:regular);

.home {
  height: 92vh;
  width: 100vw;
  @include componentTopPosition();
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.welcome-to {
  position: relative;
  @include headerFontStyle();
  font-size: 32px;
  color: snow;
}

.title {
  position: relative;
  font-size: 56px;
  color: snow;
  font-family: 'Satisfy';
}

.hero-img {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/KBWorld-hero-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -8vh;
  // left: -20vw;
  // filter: blur(2px);
  // opacity: 0.5;
}

.home-welcome-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  top: 5vh;
  position: relative;
  border: 2px $globalColor solid;
}

.KB-hero-logo {
  z-index: 100;
  height: 400px;
}