@import '../base-css/variables';
@import '../base-css/mixins';

.Loading {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  @include componentTopPosition();
}

.loading-roller {
  margin-top: 40%;
  z-index: 10;
}