@import "../base-css/variables";
@import "../base-css/mixins";
@import url(https://fonts.googleapis.com/css?family=Satisfy:regular);

.Login {
  @include componentTopPosition();
  margin: 2vh 0;
  display: flex;
  justify-content: center;
}

.login-form {
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
}

.login-form-group {
  margin-bottom: 40px;
  @include headerFontStyle();
  display: flex;
  align-items: center;
}

.login-form-label {
  margin: 0;
  margin-right: 10px;
  width: 20%;
  display: flex;
  justify-content: flex-end;

  h6 {
    margin: 0;
    @include headerFontStyle();
  }
}

.login-form-control {
  width: 80%;
}

.login-form-login-btn {
  width: 30%;
  margin-bottom: 40px;
  background-color: $globalColor;

  h5 {
    @include headerFontStyle();
    margin: 0;
  }
}

.login-form-register {
  h4,
  h5 {
    margin-bottom: 20px;
    @include headerFontStyle();
  }
}

.login-form-register-btn {
  @include resetButtonStyle();
  background-color: $globalColor;

  h5 {
    @include headerFontStyle();
    margin: 0;
  }
}
