@import "../base-css/variables";
@import "../base-css/mixins";
@import url(https://fonts.googleapis.com/css?family=Satisfy:regular);

.Login {
  @include componentTopPosition();
  margin: 2vh 0;
  display: flex;
  justify-content: center;
}

.login-form {
  position: relative;
  top: 6vh;
}

.login-form-group {
  margin-bottom: 40px;
  @include headerFontStyle();
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.login-form-label {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
  text-align: center;

  h6 {
    margin: 0;
    @include headerFontStyle();
  }
}

.login-form-login-btn {
  width: 30%;
  margin-bottom: 40px;
  background-color: $globalColor;

  h5 {
    @include headerFontStyle();
    margin: 0;
  }
}

.login-form-register {
  h4,
  h5 {
    margin-bottom: 20px;
    @include headerFontStyle();
  }
}

.login-form-register-btn {
  background-color: $globalColor;

  h5 {
    @include headerFontStyle();
    margin: 0;
  }
}

.login-welcome-back {
  @include componentTopPosition();
  margin: 2vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h4,
  h5,
  h6 {
    @include headerFontStyle();
    padding: 20px;
  }
}

.login-first-name {
  font-family: "Satisfy";
}

@media (min-width: 1024px) {
  .login-form-group {
    width: 40vw;
  }
}