@import "../base-css/variables";
@import "../base-css/mixins";

.logged-out {
  @include componentTopPosition();
  margin: 2vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .link, .logged-out-msg {
    position: relative;
    top: 10vh;
  }
}