@import "../base-css/variables";
@import "../base-css/mixins";
@import url(https://fonts.googleapis.com/css?family=Satisfy:regular);

.Register {
  @include componentTopPosition();
  margin: 2vh 0;
  // display: flex;
  // justify-content: center;

  .button {
    color: black;
    @include buttonStyle();
  }

  .button:hover {
    @include buttonHover();
  }
}

.register-form {
  position: relative;
  top: 6vh;
}

.register-form-group {
  // margin-bottom: 40px;
  @include headerFontStyle();
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-wrap: wrap;
}

.register-form-label {
  margin: 10px;
  // width: 20%;
  // display: flex;
  // justify-content: flex-end;

  h6 {
    // margin: 0;
    @include headerFontStyle();
  }
}

.register-form-control {
  // width: 80%;
}

.Registered {
  @include componentTopPosition();
  margin: 2vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h4,
  h5,
  h6 {
    @include headerFontStyle();
    padding: 20px;
  }
}

.register-first-name {
  font-family: "Satisfy";
}
