@import '../base-css/variables';
@import '../base-css/mixins';

.cart-menu-item {
  padding: 10px;
  display: flex;
  align-items: flex-end;
}

.cart-menu-title {
  font-size: 24px;
}

.cart-menu-item-quantity {
  padding-left: 10px;
  font-size: 18px;
}