@import '../base-css/variables';
@import '../base-css/mixins';

.cart-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  // text-align: left;
  background-color: $menuColor;
  overflow: hidden;
  transition: all 500ms;
  z-index: 5;
  box-shadow: $globalBoxShadow;
  font-size: 14px;
  @include headerFontStyle();
  font-family: $globalFontFamily;
}

.cart-menu-hide {
  width: 0;
  padding: 0;
  margin: 0;
  box-shadow: none;
}

/* ---------------------------- */

.cart-menu-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 0px 10px;
}

.cart-menu-close-btn {
  display: flex;
  align-items: center;
  
}

.cart-menu-close-text {
  @include backTextStyle();
}

.cart-menu-clear-cart-btn {
  font-size: 14px;
}

/* ---------------------------- */

.cart-menu-list {
  @include flexColumnCenter();
  max-height: 70vh;
  overflow-y: auto;
  padding: 10px 10px;
}

/* ---------------------------- */

.cart-menu-checkout-btn-div {
  @include flexCenter();
  button {
    font-size: 16px;
    padding: 20px;
    // margin-bottom: 10px;
  }
}