@import "../base-css/variables";
@import "../base-css/mixins";

.cart-menu-clear-cart-btn {
  @include buttonStyle();

  h6 {
    @include headerFontStyle();
    margin: 0;
  }
}

.cart-menu-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-menu-checkout-btn {
  @include buttonStyle();
  margin-bottom: 10px;

  h6 {
    @include headerFontStyle();
    margin: 0;
  }
}
