@import "../base-css/variables";
@import "../base-css/mixins";

.CartMenu {
  @include headerFontStyle();
}

.cart-menu-clear-cart-btn {
  @include buttonStyle();

  h6 {
    margin: 0;
    @include headerFontStyle();
  }
}

.cart-menu-list {
  overflow: auto;
  max-height: 70vh;
}

.cart-menu-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-menu-total-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  h5 {
    margin-left: 10px;
    @include headerFontStyle();
  }
}

.cart-menu-checkout-btn-div {
  display: flex;
  justify-content: center;
}

.cart-menu-checkout-btn {
  @include buttonStyle();

  h5 {
    @include headerFontStyle();
  }
}
