@import "../base-css/variables";
@import "../base-css/mixins";

.header {
  @include headerFontStyle();
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-bar {
  display: none;
}

.logo {
  height: 8vh;
}

.cart-icon {
  cursor: pointer;
}


.header-Col1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-Col2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-Col3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-btn {
  @include buttonStyle();
}

.cart-icon:hover {
  @include buttonHover();
}

@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }
  .nav-bar {
    display: flex;
    align-items: center;
    h5 {
      @include headerFontStyle();
      margin: 0;
      margin-left: 10px;
    }
  }
}
