@import '../base-css/variables';
@import '../base-css/mixins';

.mobile-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  background-color: $globalColor;
  transition: all 500ms;
  z-index: 1000;
  box-shadow: $globalBoxShadow;
  padding: 5px;
  border-radius: 0 0 5px 0;

}

.mobile-nav-item {
  margin: 5px 20px;
}

.mobile-nav-hide {
  display: none;
}

.mobile-nav-welcome {
  margin-bottom: 5px;
  
  p {
    margin: 0 20px;
    font-weight: 500;
  }
}

.nav-close-btn {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.mobile-close-text {
  margin: 0;
}