@import "../base-css/variables";
@import "../base-css/mixins";

.MobileNav {
  display: flex;
  flex-direction: column;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  left: 15px;
  text-align: left;
  background-color: $globalColor;
  z-index: 1000;
  box-shadow: $globalBoxShadow;
  padding: 5px;
  border-radius: 5px;
  opacity: 1;
  visibility: visible;
  transition: all 500ms;
}

.mobile-nav-item {
  margin: 5px 20px;
  white-space: nowrap;
}

.mobile-nav-hide {
  width: 0;
  box-shadow: none;
  opacity: 0;
  visibility: hidden;
}

.mobile-nav-welcome {
  margin-bottom: 5px;

  p {
    margin: 0 20px;
    font-weight: 500;
  }
}

.nav-close-btn {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.mobile-close-text {
  margin: 0;
}
