@import "../base-css/variables";
@import "../base-css/mixins";
@import url(https://fonts.googleapis.com/css?family=Satisfy:regular);

.Stripe-Success {
  @include componentTopPosition();
  margin: 12vh 0;
  display: flex;
  flex-direction: column;

  h1,
  p {
    margin: 20px;
  }

  h1 {
    font-family: "Satisfy";
  }
}
