@import "../base-css/variables";
@import "../base-css/mixins";

.Stripe-Canceled {
  @include componentTopPosition();
  margin: 12vh 0;
  display: flex;
  flex-direction: column;
  
  p {
    margin: 20px;
  }
}
