@import '../base-css/variables';
@import '../base-css/mixins';

.Stripe-Canceled {
  @include componentTopPosition();
  margin-top: 20%;
  @include headerFontStyle();
  width: 200px;

  p {
    margin-bottom: 100px;
  }
}