@import '../base-css/variables';
@import '../base-css/mixins';

.product-list {
  @include componentTopPosition();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  height: 92vh;
  width: $bodyWidth;
  margin: 10px 0px;
}