@import '../base-css/variables';
@import '../base-css/mixins';

.product-list {
  @include componentTopPosition();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  height: 88vh;
  margin: 2vh 0;
  padding: 0;
}