@import "../base-css/variables";
@import "../base-css/mixins";

.single-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh 0;
  @include componentTopPosition();
}

.single-product-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 4vh;
  position: fixed;
  top: 8vh;
  z-index: 5;
}

.single-product-back-btn {
  display: flex;
  align-items: center;
  @include buttonStyle();

  h5 {
    @include headerFontStyle();
    margin: 0;
  }
}

.single-product-back-text {
  padding: 0;
  margin: 0;
}

.single-product-body {
  position: relative;
  top: 2vh;
  overflow: auto;
  height: 86vh;
}

.single-product-img {
  margin-top: 40px;
  max-height: 60vh;
  margin-bottom: 40px;
}

.single-product-name {
  @include headerFontStyle();
  padding-bottom: 10px;
}

.single-product-price {
  @include headerFontStyle();
  padding-bottom: 20px;
}

.add-to-cart-btn {
  @include buttonStyle();

  h4 {
    @include headerFontStyle();
    margin: 0;
  }
}

.quantity-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.increase-quantity-btn,
.decrease-quantity-btn {
  @include buttonStyle();

  h3 {
    @include headerFontStyle();
    margin: 0;
  }
}

.quantity-text {
  @include headerFontStyle();
  padding: 5px;
  margin: 0;
}

.single-product-description {
  margin-bottom: 40px;
}