@import '../base-css/variables';
@import '../base-css/mixins';

$paddingBottom: 20px;

.single-product {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: wrap;
  height: 92vh;
  width: 100vw;
  @include componentTopPosition();
  position: relative;
}

.single-product-header {
  display: flex;
  justify-content: flex-start;
  height: 4vh;
  width: 100vw;
  position: fixed;
  top: 8vh;
  z-index: 5;
  background-color: $globalColor;
}

.single-product-back-btn {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.single-product-back-text {
  @include backTextStyle();
  font-size: 16px;
}

.single-product-body {
  height: 88vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
}

.single-product-img {
  height: 300px;
  padding-bottom: 40px;
}

.single-product-name-div {
  width: 300px;
}

.single-product-name {
  font-size: 28px;
  padding-bottom: $paddingBottom;
  line-height: 32px;
  @include headerFontStyle()
}

.single-product-price {
  font-size: 28px;
  padding-bottom: $paddingBottom;
}

.add-to-cart-btn {
  font-size: 22px;
  font-weight: 300;
  font-family: $buttonFontFamily;
  padding: 8px;
  margin-bottom: $paddingBottom;
}

.quantity-div {
  @include flexCenter();
  margin-top: 0px;
  margin-bottom: $paddingBottom;
  font-size: 28px;
}

.increase-quantity-btn, .decrease-quantity-btn {
  font-weight: 300;
  font-family: $buttonFontFamily;
  font-size: 28px;
  height: 30px;
  width: 30px;
  @include flexCenter();
  margin-left: 10px;
  margin-right: 10px;
}

.single-product-description-container {
  width: 300px;
}

.single-product-description {
  font-size: 18px;
}

@media (min-width: 768px) {
  .single-product-img {
    height: 350px;
  }
}

@media (min-width: 1024px) {
  .single-product-img {
    height: 500px;
  }
  .single-product-header {
    top: 10vh;
  }
}