.cart-menu {
  position: absolute;
  top: 0vh;
  right: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: snow;
  height: auto;
  overflow: hidden;
  transition: all 500ms;
  z-index: 5;
  box-shadow: 5px 5px 10px 8px rgba(0,0,0,0.75);
}

.cart-menu-hide {
  width: 0;
  padding: 0;
  margin: 0;
  box-shadow: none;
}

.cart-back-btn {
  display: flex;
  padding: 10px;
  align-items: center;
}

.cart-back-text {
  font-size: 18px;
}

.cart-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 70vh;
  overflow-y: auto;
  width: 100%;
  padding: 10px 20px;
}

.cart-menu-item {
  margin-bottom: 20px;
  font-size: 24px;
}

.cart-checkout-btn-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cart-checkout-btn {
  font-size: 20px;
  padding: 5px;
  margin: 0px 0px 15px 0px;
}

ol li {
  list-style: decimal;
  list-style-position: inside;
}